@import
    'utils/fonts',
    'utils/variables';

@import
    'utils/mixins/bottom-bar',
    'utils/mixins/button',
    'utils/mixins/category',
    'utils/mixins/form',
    'utils/mixins/header',
    'utils/mixins/main',
    'utils/mixins/opacity',
    'utils/mixins/post-header-cover',
    'utils/mixins/prefix',
    'utils/mixins/share-options-bar',
    'utils/mixins/sidebar',
    'utils/mixins/tag';

@import
    'base/base';

@import 'layouts/about',
'layouts/blog',
'layouts/bottom-bar',
'layouts/cover',
'layouts/footer',
'layouts/header',
'layouts/main',
'layouts/sidebar';

@import
    'components/alert',
    'components/archive',
    'components/box',
    'components/button',
    'components/caption',
    'components/code',
    'components/fancybox',
    'components/figure',
    'components/form',
    'components/hide',
    'components/highlight-text',
    'components/icon',
    'components/image-gallery',
    'components/link',
    'components/main-content',
    'components/markdown',
    'components/media',
    'components/modal',
    'components/pagination',
    'components/post',
    'components/post-actions',
    'components/pullquote',
    'components/post-header-cover',
    'components/postShorten',
    'components/share-options-bar',
    'components/tag',
    'components/text',
    'components/tooltip',
    'components/video';

@import
    'pages/search';

@import
    'themes/hljs-tranquilpeak',
    'themes/hljs-custom';


.breadcumbs {
  background-color: #fff;
  border-left: 6px solid #222;
  box-shadow: 0 2px rgba(0,0,0,0.05);
  margin: 0 0 40px;
  padding: 20px 50px;
}

#cover {
  background-color: #616161;
}

.media {
  display: flex;
  align-items: flex-start;
}
.media-figure {
  margin-right: 1em;
}
.media-body {
  flex: 1;
}

.author-box {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 2px;
}

#about-card-name {
  margin: 0px;
}
